/EnterpriseApplicationRendezvous/nbproject/private/
/WebApplicationRendezvous/nbproject/private/
/EnterpriseApplicationRendezvous/EnterpriseApplicationRendezvous-ejb/nbproject/private/
/EnterpriseApplicationRendezvous/EnterpriseApplicationRendezvous-ejb/build/
/WebApplicationRendezvous/build/
/EnterpriseApplicationRendezvous/EnterpriseApplicationRendezvous-ejb/dist/
/EnterpriseApplicationRendezvous/build/
/WebApplicationRendezvous/dist/
/EnterpriseApplicationRendezvous/dist/
